@import "tailwindcss";

@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/FiraCode-Regular.woff2') format('woff2'),
       url('/fonts/FiraCode-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/FiraCode-Bold.woff2') format('woff2'),
       url('/fonts/FiraCode-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-sans: "Fira Code", monospace;
}

html,
body {
  font-family: 'Fira Code', monospace;
  @apply bg-white dark:bg-[#292627];
  scrollbar-gutter: stable;


  nav ul li a {
    color: #8977FF;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: white;
  }

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}